In [1]:
#RUN SCRAPERS
#scrapy crawl results -o match_results.json && scrapy crawl players2 -o match_players.json && scrapy crawl stats -o players_stats.json

In [2]:
import os
import configparser

# pylint: disable=import-error
from datetime import datetime
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format
from pyspark.sql import types as T
from pyspark.sql.functions import monotonically_increasing_id, col

In [3]:
#creating environment variables to AWS KEYS

os.environ["AWS_ACCESS_KEY_ID"]= 'AKIAXBIZ76BF6X6GJ24O'
os.environ["AWS_SECRET_ACCESS_KEY"]= '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'

In [4]:
#creating a spark session
spark = SparkSession.builder.appName("CS-GO-Pipeline").getOrCreate()

In [5]:
#reading json files
df_match_results = spark.read.json("../scrapers/scrapers/match_results.json")
df_match_players = spark.read.json("../scrapers/scrapers/match_players.json")
df_players_stats = spark.read.json("../scrapers/scrapers/players_stats.json")
#df = spark.read.json("s3n://fpmacedo/match_results/match_results.json")

In [6]:
#REMOVE CORRUPT RECORD LINE AND NULL LINES

#MATCH_RESULTS
df_match_results = df_match_results.drop("_corrupt_record")
df_match_results = df_match_results.dropna()
df_match_results.count()

150

In [7]:
df_match_players = df_match_players.drop("_corrupt_record")
df_match_players = df_match_players.dropna()
df_match_players = df_match_players.dropna()
df_match_players.count()

1501

In [8]:
df_players_stats = df_players_stats.drop("_corrupt_record")
df_players_stats = df_players_stats.dropna()
df_players_stats.count()

431

In [9]:
#VERIFICA SE TODOS OS SCORES DOS PLAYERS FORAM COLETADOS EM TODAS AS PARTIDAS
df_match_players_renamed = df_match_players.select([col(c).alias("match_"+c) for c in df_match_players.columns])
data3=df_match_results.join(df_match_players_renamed, df_match_results.match_id == df_match_players_renamed.match_match_id, 'left').where(df_match_players_renamed.match_match_id.isNull())
if data3.count()>0:
    for i in range(data3.count()):
        print("The players scores were not collected to the match: {}".format(data3.collect()[i]['match_id']))
else:
    print("The players scores were all collected!")

The players scores were all collected!

In [10]:
#VERIFICA SE TODOS OS PLAYERS QUE ESTAO NAS PARTIDAS TIVERAM SEUS STATS COLETADOS
df_players_stats_renamed = df_players_stats.select([col(c).alias("stats_"+c) for c in df_players_stats.columns])
data1=df_match_players.join(df_players_stats_renamed, df_match_players.player_id == df_players_stats_renamed.stats_player_id, 'left').where(df_players_stats_renamed.stats_player_id.isNull())

if data1.count()>0:
    for i in range(data1.count()):
        print("The players stats were not collected to the players: {}".format(data1.collect()[i]['player_id']))
else:
    print("The players stats were all collected!")

The players stats were all collected!

In [11]:
df_match_results.limit(5).toPandas()

,data_unix,event_name,map,match_id,match_link,offset,team_1_id,team_1_link,team_1_name,team_1_score,team_2_id,team_2_link,team_2_name,team_2_score
0,1622397600000,Elisa Invitational Summer 2021 Regionals,Overpass,121306,/stats/matches/mapstatsid/121306/case-vs-copen...,0,10894,/stats/teams/10894/case,Case,8,7461,/stats/teams/7461/copenhagen-flames,Copenhagen Flames,16
1,1622397600000,Elisa Invitational Summer 2021 Regionals,Inferno,121296,/stats/matches/mapstatsid/121296/copenhagen-fl...,0,7461,/stats/teams/7461/copenhagen-flames,Copenhagen Flames,16,10894,/stats/teams/10894/case,Case,3
2,1622394900000,ESEA Spring Cash Cup 6 Europe,Inferno,121298,/stats/matches/mapstatsid/121298/mad-lions-vs-...,0,8362,/stats/teams/8362/mad-lions,MAD Lions,16,11103,/stats/teams/11103/19cm-gang,19CM GANG,8
3,1622394900000,ESEA Spring Cash Cup 6 Europe,Mirage,121292,/stats/matches/mapstatsid/121292/mad-lions-vs-...,0,8362,/stats/teams/8362/mad-lions,MAD Lions,12,11103,/stats/teams/11103/19cm-gang,19CM GANG,16
4,1622394600000,Ghetto eGames Cup 5,Vertigo,121304,/stats/matches/mapstatsid/121304/contact-light...,0,11104,/stats/teams/11104/contact-light,Contact Light,16,11079,/stats/teams/11079/trasko,Trasko,19

In [12]:
# create timestamp column from original timestamp column
get_timestamp = udf(lambda x: datetime.fromtimestamp( (x/1000.0) ), T.TimestampType())
# create datetime column from original timestamp column
get_datetime = udf(lambda x: datetime.fromtimestamp(int(int(x)/1000)))
get_hour = udf(lambda x: x.hour, T.IntegerType()) 
get_day = udf(lambda x: x.day, T.IntegerType()) 
get_week = udf(lambda x: x.isocalendar()[1], T.IntegerType()) 
get_month = udf(lambda x: x.month, T.IntegerType()) 
get_year = udf(lambda x: x.year, T.IntegerType()) 
get_weekday = udf(lambda x: x.weekday(), T.IntegerType())

df_match_results = df_match_results.withColumn("timestamp", get_timestamp(df_match_results.data_unix))
df_match_results = df_match_results.withColumn("hour", get_hour(df_match_results.timestamp))
df_match_results = df_match_results.withColumn("day", get_day(df_match_results.timestamp))
df_match_results = df_match_results.withColumn("week", get_week(df_match_results.timestamp))
df_match_results = df_match_results.withColumn("month", get_month(df_match_results.timestamp))
df_match_results = df_match_results.withColumn("year", get_year(df_match_results.timestamp))
df_match_results = df_match_results.withColumn("weekday", get_weekday(df_match_results.timestamp))

In [13]:
#CREATE TIME TABLE
# extract columns to create time table
time_columns = ['data_unix','timestamp','hour', 'day', 'week', 'month', 'year', 'weekday'] 
# write time table to parquet files partitioned by year and month
time_table = df_match_results[time_columns].distinct()

time_table.limit(5).toPandas()

       data_unix           timestamp  hour  day  week  month  year  weekday
0  1622226900000 2021-05-28 15:35:00    15   28    21      5  2021        4
1  1622321100000 2021-05-29 17:45:00    17   29    21      5  2021        5
2  1622322000000 2021-05-29 18:00:00    18   29    21      5  2021        5
3  1622254800000 2021-05-28 23:20:00    23   28    21      5  2021        4
4  1622235000000 2021-05-28 17:50:00    17   28    21      5  2021        4

In [14]:
#CREATE TEAM TABLE

#create dataframes with team_1 and team_2 data
team_1_df = df_match_results['team_1_id', 'team_1_link', 'team_1_name']
team_2_df = df_match_results['team_2_id', 'team_2_link', 'team_2_name']

#append the two team dataframes
all_teams_df = team_1_df.unionAll(team_2_df)

#rename the columns of the dataframe
new_cols = ['team_id', 'team_link', 'team_name']
for i in range(len(all_teams_df.columns)):
    col_names = all_teams_df.columns
    all_teams_df = all_teams_df.withColumnRenamed(col_names[i], new_cols[i])

#select just the distinct values
team_table = all_teams_df.distinct()

# write team table to parquet files
team_table.limit(5).toPandas()

  team_id                           team_link         team_name
0    8038  /stats/teams/8038/party-astronauts  Party Astronauts
1    9648              /stats/teams/9648/kova              KOVA
2    8963    /stats/teams/8963/lyngby-vikings    Lyngby Vikings
3   11147  /stats/teams/11147/entropiq-prague   Entropiq Prague
4   10994          /stats/teams/10994/o-plano           O PLANO

In [15]:
#CREATE MATCHES TABLE
matches_columns = ['match_id', 'data_unix', 'team_1_id', 'team_1_score', 'team_2_id', 'team_2_score', 'map', 'event_name', 'month', 'year', 'offset']
matches_table = df_match_results[matches_columns].distinct()
matches_table.limit(5).toPandas()

,match_id,data_unix,team_1_id,team_1_score,team_2_id,team_2_score,map,event_name,month,year,offset
0,121223,1622307600000,10621,14,11154,16,Train,European Development Championship 4 Closed Qua...,5,2021,50
1,121149,1622235600000,9213,16,10669,19,Nuke,Liga Gamers Club 2021 Serie A May Cup,5,2021,100
2,121125,1622217600000,8248,16,7681,13,Dust2,Polish Esport League Spring 2021 Finals,5,2021,100
3,121222,1622304900000,10873,8,11147,16,Vertigo,Tipsport COOL Liga Spring 2021,5,2021,50
4,121204,1622304000000,7681,9,8813,16,Nuke,Polish Esport League Spring 2021 Finals,5,2021,50

In [16]:
matches_table.count()

150

In [17]:
#CREATE MATCH_PLAYERS TABLE
match_players_columns = ['match_id', 'player_id', 'match_link', 'team_name', 'kills', 'assists', 'deaths', 'hs', 'flash_assists', 'kdratio', 'adr', 'fkdiff', 'rating']
match_players = df_match_players[match_players_columns].distinct()
match_players.limit(5).toPandas()

,match_id,player_id,match_link,team_name,kills,assists,deaths,hs,flash_assists,kdratio,adr,fkdiff,rating
0,121262,20463,/stats/matches/mapstatsid/121262/sh1zleepeek-v...,Rhyno,21,2,22,11,11,59.3%,71.8,-5,0.94
1,121247,17133,/stats/matches/mapstatsid/121247/jaguares-vs-p...,Jaguares,26,7,18,10,10,70.4%,108.2,+2,1.47
2,121146,14218,/stats/matches/mapstatsid/121146/nip-vs-g2,NIP,20,7,19,5,5,88.0%,87.2,-3,1.18
3,121161,13578,/stats/matches/mapstatsid/121161/furia-vs-liquid,Liquid,21,4,22,9,9,83.3%,76.0,+2,1.15
4,121132,16947,/stats/matches/mapstatsid/121132/spirit-vs-nat...,Natus Vincere,14,5,18,5,5,78.6%,60.5,-1,0.96

In [18]:
match_players.count()

1501

In [25]:
#CREATE PLAYER_STATS TABLE
players_stats = df_players_stats

# write players stats table to parquet files
players_stats.write.parquet('players_stats.parquet', 'overwrite')
print("--- players_stats.parquet completed ---")

--- players_stats.parquet completed ---

# DATA QUALITY

## READ PARQUET FILES

In [176]:
time_parquet=spark.read.parquet("s3n://fpmacedo/time.parquet")
team_parquet=spark.read.parquet("s3n://fpmacedo/team.parquet")
matches_parquet=spark.read.parquet("s3n://fpmacedo/matches.parquet")
match_players_parquet=spark.read.parquet("s3n://fpmacedo/match_players.parquet")
players_stats_parquet=spark.read.parquet("s3n://fpmacedo/players_stats.parquet")

In [186]:
#players_stats_parquet = players_stats_parquet.filter(players_stats_parquet.player_id == 0)

In [187]:
# Define function (returns a tuple):
def rows_check(df):
    
        #raise ValueError('File without rows!')
        output = "The file contains rows"
        return_code = 'PASS'
    except Exception as e:
        print("File with zero rows!")

In [188]:
rows_check(players_stats_parquet.count())

division by zero

In [153]:
if players_stats_parquet.count() == 0:
    raise ValueError(f"Data quality check failed. ")