In [1]:
import pandas as pd

In [12]:
patients_df = pd.read_json('match_players.json')
patients_df.head()

,match_id,match_link,team,player_nick,kills,hs,assists,flash_assists,deaths,kdratio,adr,fkdiff,rating
0,13111,/stats/matches/mapstatsid/13111/nip-vs-hastala...,NIP,f0rest,23,0,0,0,7,-,-,4,1.92
1,13111,/stats/matches/mapstatsid/13111/nip-vs-hastala...,NIP,Xizt,20,0,0,0,9,-,-,1,1.55
2,13111,/stats/matches/mapstatsid/13111/nip-vs-hastala...,NIP,Fifflaren,14,0,0,0,4,-,-,1,1.53
3,13111,/stats/matches/mapstatsid/13111/nip-vs-hastala...,NIP,friberg,16,0,0,0,11,-,-,3,1.32
4,13111,/stats/matches/mapstatsid/13111/nip-vs-hastala...,NIP,GeT_RiGhT,12,0,0,0,8,-,-,0,1.09